<a href="https://colab.research.google.com/github/GustavoRdz/algoritmic-trade/blob/main/Algorithminc_trade.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Simple algorithmic trading

Sign up at cloud.iexapis.com to get a token

---

First get one stock information

In [12]:
import requests

symbol = "GOOG"

IEX_CLOUD_API_TOKEN = ""

api_url = f"https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}"

data = requests.get(api_url).json()

# data.raise_for_status()  # raises exception when not a 2xx response
# if data.status_code != 204:
print(data)

{'avgTotalVolume': 23577553, 'calculationPrice': 'close', 'change': 5.37, 'changePercent': 0.05718, 'close': 99.28, 'closeSource': 'official', 'closeTime': 1674248400348, 'companyName': 'Alphabet Inc - Class C', 'currency': 'USD', 'delayedPrice': 99.29, 'delayedPriceTime': 1674248397515, 'extendedChange': 0.03, 'extendedChangePercent': 0.0003, 'extendedPrice': 99.31, 'extendedPriceTime': 1674262799441, 'high': 99.42, 'highSource': '15 minute delayed price', 'highTime': 1674248400002, 'iexAskPrice': None, 'iexAskSize': None, 'iexBidPrice': None, 'iexBidSize': None, 'iexClose': 99.26, 'iexCloseTime': 1674248398003, 'iexLastUpdated': None, 'iexMarketPercent': None, 'iexOpen': 95.91, 'iexOpenTime': 1674225000064, 'iexRealtimePrice': None, 'iexRealtimeSize': None, 'iexVolume': None, 'lastTradeTime': 1674248399989, 'latestPrice': 99.28, 'latestSource': 'Close', 'latestTime': 'January 20, 2023', 'latestUpdate': 1674248400348, 'latestVolume': 53704763, 'low': 95.91, 'lowSource': 'IEX real time price', 'lowTime': 1674225000064, 'marketCap': 1189691540032, 'oddLotDelayedPrice': 99.26, 'oddLotDelayedPriceTime': 1674248397519, 'open': 96.01, 'openTime': 1674225000000, 'openSource': 'official', 'peRatio': None, 'previousClose': 93.91, 'previousVolume': 28707653, 'primaryExchange': 'NASDAQ', 'symbol': 'GOOG', 'volume': 53704763, 'week52High': 152.1, 'week52Low': 83.45, 'ytdChange': 0.176080033810436, 'isUSMarketOpen': False}

In [13]:
data

{'avgTotalVolume': 23577553,
 'calculationPrice': 'close',
 'change': 5.37,
 'changePercent': 0.05718,
 'close': 99.28,
 'closeSource': 'official',
 'closeTime': 1674248400348,
 'companyName': 'Alphabet Inc - Class C',
 'currency': 'USD',
 'delayedPrice': 99.29,
 'delayedPriceTime': 1674248397515,
 'extendedChange': 0.03,
 'extendedChangePercent': 0.0003,
 'extendedPrice': 99.31,
 'extendedPriceTime': 1674262799441,
 'high': 99.42,
 'highSource': '15 minute delayed price',
 'highTime': 1674248400002,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexClose': 99.26,
 'iexCloseTime': 1674248398003,
 'iexLastUpdated': None,
 'iexMarketPercent': None,
 'iexOpen': 95.91,
 'iexOpenTime': 1674225000064,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexVolume': None,
 'lastTradeTime': 1674248399989,
 'latestPrice': 99.28,
 'latestSource': 'Close',
 'latestTime': 'January 20, 2023',
 'latestUpdate': 1674248400348,
 'latestVolume': 53704763,
 'low': 95.91,
 'lowSource': 'IEX real time price',
 'lowTime': 1674225000064,
 'marketCap': 1189691540032,
 'oddLotDelayedPrice': 99.26,
 'oddLotDelayedPriceTime': 1674248397519,
 'open': 96.01,
 'openTime': 1674225000000,
 'openSource': 'official',
 'peRatio': None,
 'previousClose': 93.91,
 'previousVolume': 28707653,
 'primaryExchange': 'NASDAQ',
 'symbol': 'GOOG',
 'volume': 53704763,
 'week52High': 152.1,
 'week52Low': 83.45,
 'ytdChange': 0.176080033810436,
 'isUSMarketOpen': False}

# Getting more data

---

Take the list of companies in the maket from a web page

In [16]:
import pandas

page = pandas.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")

stock_table = page[0]

In [17]:
stock_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   SEC filings            503 non-null    object
 3   GICS Sector            503 non-null    object
 4   GICS Sub-Industry      503 non-null    object
 5   Headquarters Location  503 non-null    object
 6   Date added             459 non-null    object
 7   CIK                    503 non-null    int64
 8   Founded                503 non-null    object
dtypes: int64(1), object(8)
memory usage: 35.5+ KB

In [18]:
stock_table['Symbol']

0       MMM
1       AOS
2       ABT
3      ABBV
4       ACN
       ...
498     YUM
499    ZBRA
500     ZBH
501    ZION
502     ZTS
Name: Symbol, Length: 503, dtype: object

# The data frame

----
Define the columns for your dataframe, and get the info for each symbol company, this is a slow process

In [20]:
stock_columns = ["Ticker","Price","Market Capitalization","Shares to buy"]

stocks_dataframe = pandas.DataFrame(columns = stock_columns)

for symbol in stock_table["Symbol"]:

  api_url = f"https://cloud.iexapis.com/stable/stock/{symbol}/quote?token={IEX_CLOUD_API_TOKEN}"

  data = requests.get(api_url).json()

  stocks_dataframe = stocks_dataframe.append(pandas.Series([symbol,
                                                            data["latestPrice"],
                                                            data["marketCap"],
                                                            "N/A"],
                                                           index=stock_columns),
                                             ignore_index=True)
  
stocks_dataframe.head()

  Ticker   Price Market Capitalization Shares to buy
0    MMM  120.65           66688432695           N/A
1    AOS   59.15            9036672422           N/A
2    ABT  112.82          196709993521           N/A
3   ABBV  149.59          264546999192           N/A
4    ACN  280.47          184658226241           N/A

In [21]:
stocks_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Ticker                 503 non-null    object
 1   Price                  503 non-null    float64
 2   Market Capitalization  503 non-null    object
 3   Shares to buy          503 non-null    object
dtypes: float64(1), object(3)
memory usage: 15.8+ KB

# A faster way to get information

---

Split the symbol list in groups

In [22]:
def split_list(list, number_per_group):
  for index in range(0, len(list), number_per_group):
    yield list[index:index + number_per_group]

stock_symbols_groups = list(split_list(stock_table["Symbol"],100))

print(stock_symbols_groups)

[0      MMM
1      AOS
2      ABT
3     ABBV
4      ACN
      ...
95     CDW
96      CE
97     CNC
98     CNP
99    CDAY
Name: Symbol, Length: 100, dtype: object, 100      CF
101     CRL
102    SCHW
103    CHTR
104     CVX
       ...
195     FDX
196    FITB
197     FRC
198    FSLR
199      FE
Name: Symbol, Length: 100, dtype: object, 200     FIS
201    FISV
202     FLT
203     FMC
204       F
       ...
295     LYB
296     MTB
297     MRO
298     MPC
299    MKTX
Name: Symbol, Length: 100, dtype: object, 300     MAR
301     MMC
302     MLM
303     MAS
304      MA
       ...
395     RTX
396       O
397     REG
398    REGN
399      RF
Name: Symbol, Length: 100, dtype: object, 400     RSG
401     RMD
402     RHI
403     ROK
404     ROL
       ...
495    WYNN
496     XEL
497     XYL
498     YUM
499    ZBRA
Name: Symbol, Length: 100, dtype: object, 500     ZBH
501    ZION
502     ZTS
Name: Symbol, dtype: object]

## Create an array of symbols

In [23]:
stock_symbols_strings = []

for index in range(0, len(stock_symbols_groups)):
  stock_symbols_strings.append(",".join(stock_symbols_groups[index]))

print(stock_symbols_strings)

['MMM,AOS,ABT,ABBV,ACN,ATVI,ADM,ADBE,ADP,AAP,AES,AFL,A,APD,AKAM,ALK,ALB,ARE,ALGN,ALLE,LNT,ALL,GOOGL,GOOG,MO,AMZN,AMCR,AMD,AEE,AAL,AEP,AXP,AIG,AMT,AWK,AMP,ABC,AME,AMGN,APH,ADI,ANSS,AON,APA,AAPL,AMAT,APTV,ACGL,ANET,AJG,AIZ,T,ATO,ADSK,AZO,AVB,AVY,BKR,BALL,BAC,BBWI,BAX,BDX,WRB,BRK.B,BBY,BIO,TECH,BIIB,BLK,BK,BA,BKNG,BWA,BXP,BSX,BMY,AVGO,BR,BRO,BF.B,CHRW,CDNS,CZR,CPT,CPB,COF,CAH,KMX,CCL,CARR,CTLT,CAT,CBOE,CBRE,CDW,CE,CNC,CNP,CDAY', 'CF,CRL,SCHW,CHTR,CVX,CMG,CB,CHD,CI,CINF,CTAS,CSCO,C,CFG,CLX,CME,CMS,KO,CTSH,CL,CMCSA,CMA,CAG,COP,ED,STZ,CEG,COO,CPRT,GLW,CTVA,CSGP,COST,CTRA,CCI,CSX,CMI,CVS,DHI,DHR,DRI,DVA,DE,DAL,XRAY,DVN,DXCM,FANG,DLR,DFS,DISH,DIS,DG,DLTR,D,DPZ,DOV,DOW,DTE,DUK,DD,DXC,EMN,ETN,EBAY,ECL,EIX,EW,EA,ELV,LLY,EMR,ENPH,ETR,EOG,EPAM,EQT,EFX,EQIX,EQR,ESS,EL,ETSY,RE,EVRG,ES,EXC,EXPE,EXPD,EXR,XOM,FFIV,FDS,FAST,FRT,FDX,FITB,FRC,FSLR,FE', 'FIS,FISV,FLT,FMC,F,FTNT,FTV,FOXA,FOX,BEN,FCX,GRMN,IT,GEHC,GEN,GNRC,GD,GE,GIS,GM,GPC,GILD,GL,GPN,GS,HAL,HIG,HAS,HCA,PEAK,HSIC,HSY,HES,HPE,HLT,HOLX,HD,HON,HRL,HST,HWM,HPQ,HUM,HBAN,HII,IBM,IEX,IDXX,ITW,ILMN,INCY,IR,INTC,ICE,IP,IPG,IFF,INTU,ISRG,IVZ,INVH,IQV,IRM,JBHT,JKHY,J,JNJ,JCI,JPM,JNPR,K,KDP,KEY,KEYS,KMB,KIM,KMI,KLAC,KHC,KR,LHX,LH,LRCX,LW,LVS,LDOS,LEN,LNC,LIN,LYV,LKQ,LMT,L,LOW,LUMN,LYB,MTB,MRO,MPC,MKTX', 'MAR,MMC,MLM,MAS,MA,MTCH,MKC,MCD,MCK,MDT,MRK,META,MET,MTD,MGM,MCHP,MU,MSFT,MAA,MRNA,MHK,MOH,TAP,MDLZ,MPWR,MNST,MCO,MS,MOS,MSI,MSCI,NDAQ,NTAP,NFLX,NWL,NEM,NWSA,NWS,NEE,NKE,NI,NDSN,NSC,NTRS,NOC,NCLH,NRG,NUE,NVDA,NVR,NXPI,ORLY,OXY,ODFL,OMC,ON,OKE,ORCL,OGN,OTIS,PCAR,PKG,PARA,PH,PAYX,PAYC,PYPL,PNR,PEP,PKI,PFE,PCG,PM,PSX,PNW,PXD,PNC,POOL,PPG,PPL,PFG,PG,PGR,PLD,PRU,PEG,PTC,PSA,PHM,QRVO,PWR,QCOM,DGX,RL,RJF,RTX,O,REG,REGN,RF', 'RSG,RMD,RHI,ROK,ROL,ROP,ROST,RCL,SPGI,CRM,SBAC,SLB,STX,SEE,SRE,NOW,SHW,SBNY,SPG,SWKS,SJM,SNA,SEDG,SO,LUV,SWK,SBUX,STT,STLD,STE,SYK,SIVB,SYF,SNPS,SYY,TMUS,TROW,TTWO,TPR,TRGP,TGT,TEL,TDY,TFX,TER,TSLA,TXN,TXT,TMO,TJX,TSCO,TT,TDG,TRV,TRMB,TFC,TYL,TSN,USB,UDR,ULTA,UNP,UAL,UPS,URI,UNH,UHS,VLO,VTR,VRSN,VRSK,VZ,VRTX,VFC,VTRS,VICI,V,VMC,WAB,WBA,WMT,WBD,WM,WAT,WEC,WFC,WELL,WST,WDC,WRK,WY,WHR,WMB,WTW,GWW,WYNN,XEL,XYL,YUM,ZBRA', 'ZBH,ZION,ZTS']

# getting information

---

Getting the information by batch, a faster way

In [29]:
batch_stock_dataframe = pandas.DataFrame(columns = stock_columns)

for symbol_string in stock_symbols_strings:
  batch_api_call_url = f"https://cloud.iexapis.com/stable/stock/market/batch/?types=quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}"

  data = requests.get(batch_api_call_url).json()

  for symbol in symbol_string.split(","):
    batch_stock_dataframe = batch_stock_dataframe.append(pandas.Series([symbol,
                                                                        data[symbol]["quote"]["latestPrice"],
                                                                        data[symbol]["quote"]["marketCap"],
                                                                        "N/A"],
                                                                       index = stock_columns),
                                                         ignore_index = True)

print(batch_stock_dataframe)

    Ticker   Price Market Capitalization Shares to buy
0      MMM  120.65           66688432695           N/A
1      AOS   59.15            9036672422           N/A
2      ABT  112.82          196709993521           N/A
3     ABBV  149.59          264546999192           N/A
4      ACN  280.47          184658226241           N/A
..     ...     ...                   ...           ...
498    YUM  126.63           35670134472           N/A
499   ZBRA  297.03           15335598900           N/A
500    ZBH  124.09           26040583323           N/A
501   ZION   51.48            7702321976           N/A
502    ZTS  163.81           76347253501           N/A

[503 rows x 4 columns]

# How many shares to buy?

-----

What is your budget?

In [44]:
portfolio_value = input("Enter your portfolio value: ")

try: 
  portfolio_value_float = float(portfolio_value)

except ValueError:
  print("Not a number")

  portfolio_value = input("Enter your portfolio value: ")

Enter your portfolio value: 100000

In [45]:
position_size = float(portfolio_value) / len(batch_stock_dataframe.index)

print(position_size)
print(batch_stock_dataframe.index)
print(len(batch_stock_dataframe.index))

198.80715705765408
RangeIndex(start=0, stop=503, step=1)
503

In [46]:
import math

for index in range(0,len(batch_stock_dataframe["Ticker"])-1):
  batch_stock_dataframe.loc[index, "Shares to Buy"] = math.floor(position_size / batch_stock_dataframe["Price"][index])

batch_stock_dataframe

    Ticker   Price Market Capitalization Shares to buy  Shares to Buy
0      MMM  120.65           66688432695           N/A            1.0
1      AOS   59.15            9036672422           N/A            3.0
2      ABT  112.82          196709993521           N/A            1.0
3     ABBV  149.59          264546999192           N/A            1.0
4      ACN  280.47          184658226241           N/A            0.0
..     ...     ...                   ...           ...            ...
498    YUM  126.63           35670134472           N/A            1.0
499   ZBRA  297.03           15335598900           N/A            0.0
500    ZBH  124.09           26040583323           N/A            1.0
501   ZION   51.48            7702321976           N/A            3.0
502    ZTS  163.81           76347253501           N/A            NaN

[503 rows x 5 columns]

In [47]:
!pip install xlsxwriter

import xlsxwriter

excel_writer = pandas.ExcelWriter("stocks.xlsx", engine="xlsxwriter")

batch_stock_dataframe.to_excel(excel_writer,
                               sheet_name="S&P 500 Stocks",
                               index = False)

excel_writer.save()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.0.7-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.8/152.8 KB 7.7 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.0.7